
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top px-3 border-bottom">
  <div class="container-fluid">
  <div style="width:212px">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "abuelitas-favicon.png", style: "width:60px"%>
    <% end %>
</div>
    <%= simple_form_for :search, url: experiences_path, method: :get, defaults: { wrapper: false } do |f| %>
      <div class="search-form-control form-group d-flex">
        <%# <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /> %>
          <%= f.input :activity_name, placeholder: "Search for an experience", class:"form-control string required", label: false %>
        <span class="input-group-text border-0 padding-0 back" id="search-addon">
          <%= f.button :button, class:"new-btn" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <%= link_to "View all experiences", experiences_path, class: "nav-link pe-3" %>
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item dropdown">
          <%# <>Welcome <%= current_user.first_name %>
            <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }) %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Create Experience", new_experience_path, class: "dropdown-item" %>

              <% if !current_user.experiences.empty? %>
              <%=link_to "My experiences", my_experiences_path, class: "dropdown-item" %>
              <% end %>

              <%= link_to "Update Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "My Appointments", appointments_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, status: :see_other, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
