<div class="container py-5">
  <H1 class="text-center pb-3">Find an experience:</H1>
    <div class="container">
      <div class="row">
        <% @experiences.each do |experience| %>
          <div class="col p-3">
            <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1660663917/cdc-F98Mv9O6LfI-unsplash_kqthfz.jpg" class="card-img-top" alt="Learn <%= experience.activity_name %> with <%= experience.grandma_name %>">
                <div class="card-body">
                  <h5 class="card-title">Learn <%= experience.activity_name %> with <%= experience.grandma_name %></h5>
                  <p class="card-text"><%= experience.description %></p>
                  <p class="card-text">Price: $<%= experience.price %></p>
                  <%= link_to "Learn more", experience_path(experience), class: "btn btn-primary" %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
