<div class="container py-5">
  <h1 class="text-center pb-3">Find an Experience</h1>
    <div class="container">
      <div class="row">
        <% @experiences.each do |experience| %>
          <div class="col p-3">
            <div class="card" style="width: 18rem;">
             <% if experience.photo.attached? %>
              <%= cl_image_tag experience.photo.key, class: "card-img-top" %>
                <% else %>
              <img src= <%= experience.images %> >
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= experience.activity_name %> with <%= experience.grandma_name%></h5>
                  <p class="card-text"><%= experience.description %></p>
                  <p class="card-text"><strong>Price:</strong> $<%= experience.price %></p>
                  <%= link_to "Learn More", experience_path(experience), class: "btn btn-outline text-center" %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
