      <div class="container">
    <h1 class="text-center my-3">My experiences listed</h1>
            <%= link_to "Add A Experience", new_experience_path, class: "btn btn-flat text-right" %>
            <div class="row">
              <% @my_experiences.each do |experience| %>
                <div class="col p-3">
                  <div class="card" style="width: 18rem;">
                  <% if experience.photo.attached? %>
                    <%= cl_image_tag experience.photo.key, class: "card-img-top" %>
                      <% else %>
                    <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1660663917/cdc-F98Mv9O6LfI-unsplash_kqthfz.jpg">
                      <% end %>
                      <div class="card-body">
                        <h5 class="card-title">Learn <%= experience.activity_name %> with <%= experience.grandma_name %></h5>
                        <p class="card-text"><%= experience.description %></p>
                        <p class="card-text">Price: $<%= experience.price %></p>
                        <%= link_to "See more", experience_path(experience), class: "btn" %>
                      </div>
                  </div>
                </div>
              <% end %>
            </div>


      <h1 class="text-center my-3">My Appointment requests</h1>
        <div class="row">
            <% @my_agents_appointments.each do |appointment| %>
            <div class="col-6">
                <div class="card-trip mt-6 mb-6 pb-3">
                  <%= cl_image_tag appointment.experience.photo.key %>
                <div class="card-trip-infos align-items-center">
                  <div>
                    <div>
                      <h5 class="card-title mb-3"><%= appointment.experience.activity_name %> with <%= appointment.experience.grandma_name%></h5>
                      <p class="card-text mb-3"><%= appointment.experience.description %></p>
                    </div>
                    <% if appointment.Pending? %>
                      <%= link_to "Confirm request", confirm_appointment_path(appointment, status: 1), class: "btn" %>
                      <%= link_to "Decline request", decline_appointment_path(appointment, status: 2), class: "btn"%>
                      <% end %>
                  </div>
                  <div>
                    <%# to be replaced with the user client image%>
                    <%# <%= cl_image_tag appointment.experience.photo.key, class: "card-img-top card-trip-user avatar-bordered rounded-circle" %>
                    <% if appointment.Pending? %>
                          <p class="btn-blue mb-3"><%= appointment.status %></p>
                    <% elsif appointment.Confirmed? %>
                          <p class="btn-green mb-3"><%= appointment.status %></p>
                    <% elsif appointment.Declined? %>
                          <p class="btn-red mb-3"><%= appointment.status %></p>
                    <% end %>
                    <h2 class="card-trip-pricing mb-3 h1">$<%= appointment.experience.price %></h2>
                  </div>
                </div>
            </div>
        </div>
              <% end %>
    </div>
