<div class="text-center container py-5">
  <H1 class="py-2">Learn <%= @experience.activity_name %> with <%= @experience.grandma_name %></H1>
  <h3>Description: <%= @experience.description %> </h3>
  <h3>Price: $<%= @experience.price %>
  <h4 class="pb-5">Experience happening on: <%= @experience.availability %>
  <div style="width: 100%" class="pt-5">
  <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=<%= @experience.latitude %>%,%20<%= @experience.longitude %>+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
  <%= link_to "Book this experience", '#', class: "btn btn-primary mt-5" %>
</div>
  <div class="bg-white text-center">
  <h2 class="py-5">Reviews:</h2>
  </div>
