<div class="experience-title">
  <h1 class="text-center"><%= @experience.activity_name %> with <%= @experience.grandma_name %></h1>
  <h4 class="text-center pt-3">Hosted by <%= @experience.user.first_name %> <%= @experience.user.last_name %></h4>
</div>

<div class="card-product-show">
  <img src="https://res.cloudinary.com/dg7mx0hnl/image/upload/v1660663917/cdc-F98Mv9O6LfI-unsplash_kqthfz.jpg" />
  <div class="card-product-show-infos">
    <p><%= @experience.description %></p>
    <p><strong>$<%= @experience.price %></strong></p>
    <p>Available everyday of the week</p>
    <div class="">
      <% if @experience.user == current_user %>
        <p><%= link_to "Delete this experience", @experience, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline text-center" %></p>
        <%= link_to "Back to All My Experiences", my_experiences_path, class: "btn btn-outline text-center" %>
        <%= link_to "Edit this experience", edit_experience_path, class: "btn btn-outline text-center" %>
      <% else %>
        <%= link_to "Book this experience", new_experience_appointment_path(@experience), class: "btn btn-outline text-center" %>
      <% end %>
    </div>
  </div>
</div>

<div class="map">
  <h2 class="map-title text-center pb-5">This experience takes place at <%= @experience.address %></h2>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<div class="bg-white text-center border-top">
  <div class="container pb-5">
  <% if !@experience.reviews.empty?%>
    <h2 class="py-3">Reviews</h2>
  <% end %>
      <div class="list-group">
        <% @experience.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
                  <% count += 1 %>
              <% end %>
            </small>
            <p>
              <%= review.content %>
            </p>
          </li>
        <% end %>
      </div>
  </div>
</div>
