<div class="container py-5">
  <h1 class="pb-3 text-center">Review your experience with <%= @experience.grandma_name %></h1>
  <%= simple_form_for [@experience, @review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <div class="text-center">
      <%= f.submit "Submit review", class: "btn" %>
    </div>
  <% end %>
</div>
