<!DOCTYPE html>
<html>
  <head>
    <title>Abuelitas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<<<<<<< HEAD
  <%# navbar %>
=======
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
>>>>>>> 805886caa55ddea001954377a24c8ad92b73641a
    <%= yield %>
  <%# footer %>
  </body>
</html>
